.product{
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 0 30px;
  box-sizing: border-box;
  width: 400px;
}

.product__title{
  margin: 0;
  font-size: 40px;
  line-height: 61px;
  font-weight: 700;
  text-transform: uppercase;
}

.product__footer{
  display: flex;
  align-items: center;
  padding-top: 50px;
  gap: 10px;
  width: 100%;
}

.product__main-wrapper{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.product__desc-wrapper{
  position: absolute;
  width: 150px;

  box-sizing: border-box;
}
.product__main-composition-table{
  border-collapse: collapse;
  width: 100%;
}

.product__cell{
  font-size: 16px;
  line-height: 41px;
  font-weight: bold;
  border: 1px solid #e5e5e5 ;
  padding-left: 10px;
  text-transform: uppercase;
}
.product__table-desc{
  font-size: 14px;
  line-height: 24px;

}

.product__description{
  font-size: 16px;
  line-height: 30px;

}

.product__price{
  flex-grow: 1;
  text-align: center;
}
